body {
  background-color: lightgrey;
}

table#match-table {
    width: 100%;
}

td .match-evt-competition {
  font-size: 0.7em;
}

td .bbc-2, td .bbc-1, td .bbci {
  background-color: red;
  color: white;
}

td.sport-soccer {
  background-color: green;
  color: white;
}

td.competition-nfl-matches {
  background-color: blue;
  color: white;
}

.filter-sport.visible, .filter-channel.visible, .filter-competition.visible {
  background-color: grey;
}
