body {
  background-color: white;
  font-family: sans-serif;
  font-size: 14px;
}

span.filter {
  padding-right: 10px;
}
div#match-list {
    width: 100%;
}
table#match-table {
    width: 1000px;
    margin: auto;
}

td {
    padding: 5px;
}

td .match-evt-competition {
  font-size: 0.7em;
}

td .bbc-2, td .bbc-1, td .bbci {
  background-color: red;
  color: white;
}

td.sport-soccer {
  background-color: green;
  color: white;
}

td.competition-nfl-matches {
  background-color: blue;
  color: white;
}

.filter-sport.visible, .filter-channel.visible, .filter-competition.visible {
  background-color: grey;
}
